center()
  display flex
  justify-content center
  align-items center

centerColumn()
  display grid
  grid-template-columns 1fr auto 1fr

centerRow()
  display grid
  grid-template-rows 1fr auto 1fr

centerJustify()
  display flex
  justify-content center

centerAlign()
  display flex
  align-items center

centerPosition()
  left 50%
  position absolute
  top 50%
  transform translate(-50%, -50%)

centerPositionColumn()
  left 50%
  position absolute
  transform translateX(-50%)

centerPositionRow()
  position absolute
  top 50%
  transform translateY(-50%)
