marker-bold(color)
  background linear-gradient(transparent 0%, color 0%)

marker-medium(color)
  background linear-gradient(transparent 60%, color 60%)

marker-thin(color)
  background linear-gradient(transparent 80%, color 80%)
