btnIcon(c, bg, cHover ,bgHover, icon)
  background-color bg
  border-radius 1rem
  color c
  display inline-block
  font-weight 600
  text-align center
  & a
    border-radius 1rem
    display block
    padding 1rem
    &::before
      content icon
      mio()
      vertical-align middle
    &:hover
      background-color bgHover
      color cHover
