officeHours()
  &__hours
    csReverse()
    margin-top 5vw
    padding 4vw 4vw 3vw
    &__table
      text-align center
      & th, & td
        border solid 2px c-bg-1
        font-weight 500
    &__reserv
      margin-top 2vw

officeHoursLs()
  &__hours
      margin-top 0
