.ttl--1
  color c-theme-1
  font-family 'Kiwi Maru', sans-serif
  font-size 150%
  font-weight 500
  margin 2.5rem 0
  & span
    font-size 70%

.ttl--2
  font-family 'Kiwi Maru', sans-serif
  font-size 120%
  font-weight 500
  margin 3rem 0 2rem

.ttl--3
  font-family 'Kiwi Maru', sans-serif
  font-size 110%
  font-weight 500
  margin 1.5rem 0 1rem

.ttl--4
  font-family 'Kiwi Maru', sans-serif
  font-size 110%
  font-weight 500
  margin 1rem 0 .5rem


+ls()
  .ttl--1
    font-size 180%
    margin 4rem 0
    & span
      font-size 90%
  .ttl--2
    font-size 150%
  .ttl--3
    font-size 130%
  .ttl--4
    font-size 110%
