@charset "UTF-8";
.ttl--1 {
  color: #1978db;
  font-family: 'Kiwi Maru', sans-serif;
  font-size: 150%;
  font-weight: 500;
  margin: 2.5rem 0;
}
.ttl--1 span {
  font-size: 70%;
}
.ttl--2 {
  font-family: 'Kiwi Maru', sans-serif;
  font-size: 120%;
  font-weight: 500;
  margin: 3rem 0 2rem;
}
.ttl--3 {
  font-family: 'Kiwi Maru', sans-serif;
  font-size: 110%;
  font-weight: 500;
  margin: 1.5rem 0 1rem;
}
.ttl--4 {
  font-family: 'Kiwi Maru', sans-serif;
  font-size: 110%;
  font-weight: 500;
  margin: 1rem 0 0.5rem;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .ttl--1 {
    font-size: 180%;
    margin: 4rem 0;
  }
  .ttl--1 span {
    font-size: 90%;
  }
  .ttl--2 {
    font-size: 150%;
  }
  .ttl--3 {
    font-size: 130%;
  }
  .ttl--4 {
    font-size: 110%;
  }
}
.img1 {
  margin: 2rem 0 4rem;
}
.img1 p {
  text-align: center;
}
.imgs2 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.imgs2__item p {
  text-align: center;
}
.imgs3 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.imgs3__item p {
  text-align: center;
}
.imgDesc {
  margin: 1rem 0;
}
.imgDesc__img {
  display: block;
  margin: 1rem auto;
  width: 40%;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .img1 {
    width: 70%;
  }
  .imgs2 {
    width: 70%;
  }
  .imgs3 {
    width: 90%;
  }
  .imgDesc {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
  }
  .imgDesc__img {
    margin: 1rem 0;
    width: 100%;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */ /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
main {
  display: block;
}
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
iframe {
  border-style: none;
}
img {
  border-style: none;
}
svg:not([fill]) {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
button,
input,
select {
  margin: 0;
}
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}
input {
  overflow: visible;
}
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
select {
  text-transform: none;
}
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
details {
  display: block;
}
dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  display: block;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] { /* 1 */
  touch-action: manipulation; /* 2 */
}
[hidden] {
  display: none;
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}
[aria-hidden="false"][hidden] {
  display: initial;
}
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #666;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Helvetica Neue", "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", Meiryo, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}
main:not(.top__main) {
  margin: 5vw;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  main:not(.top__main):not(.access__main) {
    padding-right: 30vw;
  }
}
@media print, screen and (min-width: 520px) {
  body {
    font-size: 1.8rem;
  }
}
@media print, screen and (min-width: 1025px) {
  body {
    font-size: 1.6rem;
  }
}
* {
  float: none;
  position: static;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
table {
  width: 100%;
}
th {
  text-align: center;
}
td {
  padding: 0.3rem;
}
::selection {
  color: #fff;
  background-color: #1978db;
}
::moz-selection {
  color: #fff;
  background-color: #1978db;
}
::-webkit-scrollbar {
  width: 1.5vw;
}
::-webkit-scrollbar-thumb {
  background-color: #1978db;
}
::-webkit-scrollbar-track {
  background: #666;
}
.displayNone {
  display: none;
}
.header {
  background-color: #1978db;
  color: #fff;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  grid-template-rows: 15vw;
  position: sticky;
  top: 0;
  z-index: 99999;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .header {
    grid-template-columns: 24vw auto;
    grid-template-rows: 6vw;
  }
}
.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/1/span 1/span 1;
  margin: 0;
}
.headerNavSp {
  grid-area: 1/2/span 1/span 1;
}
.headerNavSp__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  margin: 0;
}
.headerNavSp__menu__item--1 a {
  display: block;
  height: 15vw;
  width: 15vw;
}
.headerNavSp__menu__item--1 a:hover::before {
  background-color: #fff;
  color: #1978db;
}
.headerNavSp__menu__item--1 a::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "\e0b0";
  font-size: 8vw;
  height: 100%;
  font-family: "Material Icons Outlined";
}
.headerNavSp__menu__item--2 a {
  display: block;
  height: 15vw;
  width: 15vw;
}
.headerNavSp__menu__item--2 a:hover::before {
  background-color: #fff;
  color: #1978db;
}
.headerNavSp__menu__item--2 a::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "\e0c8";
  font-size: 8vw;
  height: 100%;
  font-family: "Material Icons Outlined";
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .headerNavSp {
    display: none;
  }
}
.headerNavPc {
  display: none;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .headerNavPc {
    display: grid;
    font-weight: 600;
    grid-area: 1/2/span 1/span 1;
  }
  .headerNavPc__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6vw;
    margin: 0;
  }
  .headerNavPc__menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .headerNavPc__menu__item:hover {
    background-color: #fff;
    color: #1978db;
  }
  .headerNavPc__menu__item a {
    display: block;
    width: 100%;
  }
  .headerNavPc__menu__item a span {
    font-size: 1.2rem;
  }
  .headerNavPc__menu__item__submenu {
    display: none;
    position: absolute;
    top: 6vw;
    width: 100%;
  }
  .headerNavPc__menu__item__submenu__item {
    background-color: #ebff54;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vw;
    padding: 1rem;
  }
  .headerNavPc__menu__item__submenu__item:hover {
    background-color: #1978db;
    color: #fff;
  }
  .headerNavPc__menu__item__submenu__item a {
    display: block;
    width: 100%;
  }
}
.gnavToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw;
  position: fixed;
  right: 0;
  top: 0;
  width: 14.285714285714286vw;
  z-index: 999999;
}
.gnavToggle__btn--open,
.gnavToggle__btn--open::before,
.gnavToggle__btn--open::after {
  background-color: #fff;
  content: '';
  cursor: pointer;
  display: block;
  height: 0.8vw;
  position: absolute;
  transition: all 0.3s;
  width: 7vw;
}
.gnavToggle__btn--close {
  background-color: transparent;
}
.gnavToggle__btn--open::before {
  bottom: 2.5vw;
}
.gnavToggle__btn--close::before {
  bottom: 0;
  transform: rotate(45deg);
}
.gnavToggle__btn--open::after {
  top: 2.5vw;
}
.gnavToggle__btn--close::after {
  top: 0;
  transform: rotate(-45deg);
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .gnavToggle {
    display: none;
  }
}
.navContent {
  background-color: #1978db;
  font-weight: 600;
  display: none;
  height: 100%;
  overflow-y: auto /* スクロール */;
  -webkit-overflow-scrolling: touch;
  padding-top: 15vw;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navContent::-webkit-scrollbar {
  width: 0;
}
.navContent__menu {
  display: grid;
  grid-row: 2/span 1;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 80vh;
}
.navContent__menu__item {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 10vw;
  position: relative;
}
.navContent__menu__item:hover {
  background-color: #fff;
  color: #1978db;
}
.navContent__menu__item a {
  display: block;
  font-size: 4vw;
  width: 100%;
}
.navContent__menu__item__btn {
  height: 10vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
.navContent__menu__item__submenu {
  background-color: #ebff54;
  display: none;
  left: 0;
  position: absolute;
  top: 10vh;
  width: 100%;
  z-index: 999;
}
.navContent__menu__item__submenu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 5vw 10vw;
}
.navContent__menu__item__submenu__item:hover {
  background-color: #1978db;
  color: #fff;
}
.navContent__menu__item__submenu__item a {
  display: block;
  width: 100%;
}
.footer {
  background-color: #1978db;
  color: #fff;
  padding: 5vw;
}
.footer__name {
  font-size: 120%;
}
.footer__copyright {
  font-size: 2vw;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .footer {
    padding: 3vw 5vw 1vw;
  }
  .footer__address {
    margin-bottom: 2vw;
  }
  .footer__copyright {
    font-size: 80%;
  }
}
.access__img {
  display: grid;
}
.access__img__item {
  margin-top: 2rem;
}
.access__info {
  margin-top: 8rem;
}
.access__info__clinic {
  background-color: #1978db;
  color: #fff;
  padding: 4vw;
}
.access__info__clinic__dir {
  padding: 0 1rem;
  position: relative;
  text-align: center;
}
.access__info__clinic__dir::before {
  background-color: #fff;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
}
.access__info__clinic__dir span {
  background-color: #1978db;
  padding: 0 1rem;
  position: relative;
}
.access__info__clinic__btn {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 1fr 1fr;
}
.access__info__clinic__btn__tel {
  background-color: #fff;
  border-radius: 1rem;
  color: #1978db;
  display: inline-block;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}
.access__info__clinic__btn__tel::before {
  content: "\e0b0";
  font-family: "Material Icons Outlined";
  vertical-align: middle;
}
.access__info__clinic__btn__tel:hover {
  background-color: #ebff54;
  color: #1978db;
}
.access__info__clinic__btn__access {
  background-color: #fff;
  border-radius: 1rem;
  color: #1978db;
  display: inline-block;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}
.access__info__clinic__btn__access::before {
  content: "\e0c8";
  font-family: "Material Icons Outlined";
  vertical-align: middle;
}
.access__info__clinic__btn__access:hover {
  background-color: #ebff54;
  color: #1978db;
}
.access__info__hours {
  background-color: #1978db;
  color: #fff;
  margin-top: 5vw;
  padding: 4vw 4vw 3vw;
}
.access__info__hours__table {
  text-align: center;
}
.access__info__hours__table th,
.access__info__hours__table td {
  border: solid 2px #fff;
  font-weight: 500;
}
.access__info__hours__reserv {
  margin-top: 2vw;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .access__img {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: 1fr 1fr;
  }
  .access__info {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: 1fr 1fr;
  }
  .access__info__hours {
    margin-top: 0;
  }
}
.ceramic__explain__cf__item {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  margin-top: 2rem;
}
.ceramic__explain__cf__item section {
  grid-area: 1/1/span 1/span 1;
}
.ceramic__explain__cf__item img {
  grid-area: 1/2/span 1/span 1;
  margin: 1rem auto auto;
}
.ceramic__explain__cf__item p {
  grid-area: 2/1/span 1/span 2;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .ceramic__explain__cf__item {
    grid-template-columns: 3fr 1fr;
    width: 80%;
  }
  .ceramic__explain__cf__item img {
    grid-area: 1/2/span 2/span 1;
    margin: 1rem auto auto;
  }
}
.concept__main img {
  width: 70%;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .concept__main img {
    width: 30vw;
  }
  .concept__sentence {
    width: 50vw;
  }
}
.covid__ul li {
  list-style: disc;
}
.covid__attn {
  color: #f55;
}
.denture__ul li {
  list-style: disc;
}
.denture__dd {
  margin-bottom: 1rem;
}
.denture__dd__ul {
  padding-left: 0;
}
.denture__dd__ul li {
  list-style: disc;
}
.denture__explain__img1 {
  display: block;
  margin: 0 auto;
  width: 50%;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .denture__explain__img1 {
    margin: 0;
  }
}
.doctor__msg {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto auto;
}
.doctor__msg img {
  grid-area: 1/1/span 1/span 1;
}
.doctor__msg__name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1978db;
  color: #fff;
  font-size: 120%;
  grid-area: 1/2/span 1/span 1;
  margin: 0;
}
.doctor__msg__sentence {
  grid-area: 2/1/span 1/span 2;
  margin-bottom: 0;
}
.doctor__career th {
  border: solid 2px #666;
  font-weight: inherit;
  text-align: center;
}
.doctor__career td {
  border: solid 2px #666;
}
.doctor__qualification {
  margin-bottom: 5rem;
  padding-left: 3rem;
}
.doctor__qualification li {
  list-style-type: square;
}
.doctor__qualification li a {
  text-decoration: underline;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .doctor__msg {
    grid-template-columns: 10vw 30vw;
  }
  .doctor__career {
    width: 40vw;
  }
}
.general__caries__explain {
  display: grid;
  grid-template-columns: 11fr 5fr;
}
.general__caries__explain img {
  margin: auto 0;
  padding-left: 2rem;
}
.general__wisdomTooth__img {
  width: calc((90vw -2rem) / 2);
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .general__caries__explain {
    grid-template-columns: 5fr 1fr;
  }
  .general__wisdomTooth__img {
    width: 35%;
  }
}
.implant__dl {
  margin-left: 2rem;
}
.implant__dd {
  margin: auto auto 1rem 0;
}
.implant__dd__list {
  padding-left: 2rem;
}
.implant__dd__list li {
  list-style: disc;
}
.implant__img {
  display: grid;
  margin: 0 auto;
  width: 40%;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .implant__img {
    margin: 0;
  }
}
.orth__adult__merit li {
  list-style-type: square;
}
.orth__process__twoweeks {
  text-align: center;
  padding-top: 0.8rem;
}
.orth__process__arrow {
  font-size: 6vw;
  text-align: center;
}
.orth__process__item {
  background-color: #666;
  color: #fff;
  padding: 1rem;
}
.orth__process__item .ttl--3 {
  margin: 0.5rem;
  text-align: center;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .orth__process {
    width: 40vw;
  }
  .orth__process__arrow {
    font-size: 2vw;
    margin: 0.5rem;
  }
  .orth__process__item {
    padding: 1.5rem;
  }
}
.perio__explain__img {
  display: grid;
  grid-template-rows: auto auto;
}
.perio__explain__img__txt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.perio__explain__img__txt p {
  font-size: 3vw;
  text-align: center;
}
.perio__treatment__img {
  width: 50vw;
}
.perio__treatment__conc {
  margin-top: 3rem;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .perio__explain__img {
    width: 70%;
  }
  .perio__explain__img__txt p {
    font-size: inherit;
  }
  .perio__treatment__img {
    width: 20vw;
  }
}
.price__table {
  border-collapse: collapse;
  margin-bottom: 3rem;
}
.price__table th {
  background-color: #666;
  border: 2px solid #666;
  color: #fff;
}
.price__table td {
  border: 2px solid #666;
}
.price__table td:nth-child(even) {
  text-align: center;
  width: 35%;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .price__table td:nth-child(even) {
    width: 30%;
  }
}
.recruit__main {
  height: 80vh;
}
.slick-slide {
  margin: 0;
}
.slick-slide:focus {
  outline: none;
}
.top__main {
  padding-bottom: 5vw;
}
.atf__msg {
  color: #1978db;
  font-size: 3.5vw;
  font-weight: 700;
  margin: 0;
  padding: 5vw 3vw 0;
  text-align: center;
}
.atf__msg span {
  background: linear-gradient(transparent 60%, #ebff54 60%);
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .atf__msg {
    font-size: 2.5vw;
  }
}
.info {
  padding: 5vw;
}
.info__clinic {
  background-color: #1978db;
  color: #fff;
  padding: 4vw;
}
.info__clinic__dir {
  padding: 0 1rem;
  position: relative;
  text-align: center;
}
.info__clinic__dir::before {
  background-color: #fff;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
}
.info__clinic__dir span {
  background-color: #1978db;
  padding: 0 1rem;
  position: relative;
}
.info__clinic__btn {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 1fr 1fr;
}
.info__clinic__btn__tel {
  background-color: #fff;
  border-radius: 1rem;
  color: #1978db;
  display: inline-block;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}
.info__clinic__btn__tel::before {
  content: "\e0b0";
  font-family: "Material Icons Outlined";
  vertical-align: middle;
}
.info__clinic__btn__tel:hover {
  background-color: #ebff54;
  color: #1978db;
}
.info__clinic__btn__access {
  background-color: #fff;
  border-radius: 1rem;
  color: #1978db;
  display: inline-block;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}
.info__clinic__btn__access::before {
  content: "\e0c8";
  font-family: "Material Icons Outlined";
  vertical-align: middle;
}
.info__clinic__btn__access:hover {
  background-color: #ebff54;
  color: #1978db;
}
.info__hours {
  background-color: #1978db;
  color: #fff;
  margin-top: 5vw;
  padding: 4vw 4vw 3vw;
}
.info__hours__table {
  text-align: center;
}
.info__hours__table th,
.info__hours__table td {
  border: solid 2px #fff;
  font-weight: 500;
}
.info__hours__reserv {
  margin-top: 2vw;
}
.news {
  padding: 0 5vw;
}
.news__item li {
  list-style-type: disc;
/*
      &:first-child, &:nth-child(2)
        color c-txt-3*/
}
.news__item a {
  text-decoration: underline;
}
.news__color {
  margin-top: 3rem;
}
.news__cal__table {
  height: 60vw;
  margin: 0 auto 7vw;
  table-layout: fixed;
  text-align: center;
  width: 60vw;
}
.news__cal__table td:first-child:not(.empty) {
  background-color: #ebff54;
  color: #f55;
}
.news__cal__table td:last-child:not(.empty) {
  color: #1978db;
}
.news__cal__table th,
.news__cal__table td {
  border: solid 2px #666;
}
.news__cal__table__m {
  background-color: #666;
  color: #fff;
  font-size: 120%;
}
.closed {
  background-color: #ebff54;
}
.holiday {
  background-color: #ebff54;
  color: #f55;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .info {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: 1fr 1fr;
  }
  .info__hours {
    margin-top: 0;
  }
  .news__cal {
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: 1fr 1fr;
    height: 25vw;
    width: 45vw;
  }
  .news__cal__table {
    height: 20vw;
    width: 20vw;
  }
}
.whitening__explain__img1 {
  display: block;
  margin: 1rem auto;
  width: 50vw;
}
.whitening__explain__attent {
  padding-left: 1.5rem;
}
.whitening__explain__attent li {
  list-style: disc;
}
@media print, screen and (orientation: landscape) and (min-width: 1024px) {
  .whitening__explain__img1 {
    margin: 1rem auto 1rem 0;
    width: 20vw;
  }
}
