- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'https://okada-dental.org/'
- var themeColor = '#1978db'
- var siteName = '東大阪市 近鉄布施駅前の歯科医院・歯医者｜おかだ歯科クリニック'
- var siteNameEng = 'okada dental clinic'
- var titlePart = '東大阪市 近鉄布施駅前の歯科医院・歯医者｜おかだ歯科クリニック'
- var tel = '06-6783-9977'
- var logoAlt = '大阪・東大阪市長堂布施駅前のおかだ歯科クリニック'
-
  var streetAddress = '長堂 1-2-20 陣内ビル2階'
  var addressLocality = '東大阪市'
  var addressRegion = '大阪府'
  var postalCode = '577-0056'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '',
      name : 'トップページ',
      nameEng : 'TOP',
      title : ''+titlePart,
      description : '大阪・東大阪市長堂近鉄布施駅前のおかだ歯科クリニックのホームページです。おかだ歯科クリニックでは患者さまの恐怖心や苦痛を減らすため“痛みの少ない治療”“できるだけ歯を削らずに残す治療”を心がけています。大阪・東大阪で歯のことでお悩みの方は、お気軽にご相談ください。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '大阪・東大阪市長堂布施駅前のおかだ歯科クリニック',
      siteType : 'website' 
    },
    covid19 : {
      url : 'covid19.html',
      canonicalUrl : 'covid19.html',
      name : '新型コロナウイルス感染拡大防止について',
      nameEng : '',
      title : '新型コロナウイルス感染拡大防止について｜'+titlePart,
      description : '大阪・東大阪市近鉄布施駅前のおかだ歯科クリニックでは、厚生労働省より示された歯科医療機関における新型コロナウイルスの感染拡大防止のための院内感染対策、日本歯科医学会連合等が示した感染対策に従い、感染拡大防止に努めております。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '大阪・東大阪市長堂布施駅前のおかだ歯科クリニック',
      siteType : 'website' 
    },
    doctor : {
      url : 'doctor.html',
      canonicalUrl : 'doctor.html',
      name : 'ドクター紹介',
      nameEng : 'DOCTOR',
      title : 'ドクター紹介｜'+titlePart,
      description : '大阪・東大阪市近鉄布施駅前のおかだ歯科クリニックでは地域の皆様の「ホームドクター」として信頼されるよう、治療に取り組んでいます。一般歯科と矯正歯科があり、小さなお子さまからご高齢の方まで連携して治療を行います。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '大阪・東大阪市長堂布施駅前のおかだ歯科クリニックのドクター',
      siteType : 'website' 
    },
    about : {
      url : '#',
      name : '医院紹介',
      nameEng : 'ABOUT'
    },
    concept : {
      url : 'concept.html',
      canonicalUrl : 'concept.html',
      name : '医院の特徴',
      nameEng : 'CONCEPT',
      title : '医院の特徴｜'+titlePart,
      description : '東大阪市近鉄布施駅前のおかだ歯科クリニックではしっかりと患者さまのお話をお伺いし、治療についてわかりやすく説明し納得していただいた上で治療を行います。治療に当たって、恐怖心や苦痛を減らすため痛みの少ない治療を心がけています。また、歯のクリーニングやフッ素塗布など予防にも力を入れています。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '大阪・東大阪市長堂布施駅前のおかだ歯科クリニック',
      siteType : 'website' 
    },
    facility : {
      url : 'facility.html',
      canonicalUrl : 'facility.html',
      name : '院内紹介',
      nameEng : 'FACILITY',
      title : '院内紹介｜'+titlePart,
      description : '大阪・東大阪市近鉄布施駅前のおかだ歯科クリニックの院内紹介ページです。患者さまのプライバシーを守るため隣が見えないように配慮しています。感染予防として、高濃度オゾン水やオートクレーブ（高圧蒸気滅菌器）による滅菌を行っています。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website' 
    },
    service : {
      url : '#',
      name : '診療メニュー',
      nameEng : 'SERVICE'
    },
    general : {
      url : 'general.html',
      canonicalUrl : 'general.html',
      name : '一般歯科',
      nameEng : 'GENERAL',
      title : '一般歯科｜'+titlePart,
      description : '大阪・東大阪市近鉄布施駅前のおかだ歯科クリニックの虫歯・歯の神経・歯周病・親知らずなどを治療する一般歯科のページです。おかだ歯科クリニックでは患者様の恐怖心や苦痛を減らすため“痛みの少ない治療”“できるだけ歯を削らずに残す治療”を心がけています。大阪・東大阪で歯のことでお悩みの方は、お気軽にご相談ください。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '大阪・東大阪市長堂布施駅前のおかだ歯科クリニックの一般歯科',
      siteType : 'website'
    },
    perio : {
      url : 'perio.html',
      canonicalUrl : 'perio.html',
      name : '歯周病',
      nameEng : 'PERIO',
      title : '歯周病｜'+titlePart,
      description : '大阪・東大阪市近鉄布施駅前の歯科医院・歯医者、おかだ歯科クリニックの歯周病のページです。歯周病は痛みなく進行するのが特徴で、初期は歯ぐきからの出血ですが悪化すると歯がぐらぐらに揺れだし、腫れたり、口臭もひどくなります。歯ぐきからの出血や口臭が気になる方は、お気軽にご相談ください。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '大阪・東大阪市長堂布施駅前のおかだ歯科クリニックの歯周病治療',
      siteType : 'website'
    },
    orthodontic : {
      url : 'orthodontic.html',
      canonicalUrl : 'orthodontic.html',
      name : '矯正歯科',
      nameEng : 'ORTHODONTIC',
      title : '矯正歯科｜'+titlePart,
      description : '歯並びやかみ合わせが正しくないと、見た目の問題だけではなく、正しい発音ができなかったり、虫歯や歯周病にもなりやすく、お子さまの場合は顔の成長にも問題が出てきます。大阪・東大阪でご自身やお子さまの歯並びで気になることがあれば、近鉄布施駅前の歯科・歯医者、おかだ歯科クリニックへお気軽にご相談ください。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '大阪・東大阪市長堂布施駅前のおかだ歯科クリニック',
      siteType : 'website'
    },
    ceramic : {
      url : 'ceramic.html',
      canonicalUrl : 'ceramic.html',
      name : 'セラミック治療',
      nameEng : 'CERAMIC',
      title : 'セラミック治療｜'+titlePart,
      description : '変色した前歯や奥歯の金属が気になっている方は多いと思います。また、治療した歯が虫歯や歯周病にならずより長く健康であることを望んでいると思います。見た目の美しさと歯の健康を併せ持った治療がセラミック治療です。おかだ歯科クリニックは、東大阪市の近鉄布施駅前にて開院当初から審美に重点を置いた治療を行ってきました。大阪・東大阪でご自身の歯をきれいにしたいと思われている方は、お気軽にご相談ください。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    whitening : {
      url : 'whitening.html',
      canonicalUrl : 'whitening.html',
      name : 'ホワイトニング',
      nameEng : 'WHITENING',
      title : 'ホワイトニング｜'+titlePart,
      description : '大阪・東大阪市近鉄布施駅前のおかだ歯科クリニックのホワイトニングのページです。ホワイトニングとはご自身の健康な歯の着色や変色を薬剤によって白くする治療法です。ホワイトニングには、クリニックで行うオフィスホワイトニングとご自宅で行うホームホワイトニング、その両方を同時に行うデュアルホワイトニングがあります。大阪・東大阪でご自身の歯を白くしたいと思われている方は、お気軽にご相談ください。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    implant : {
      url : 'implant.html',
      canonicalUrl : 'implant.html',
      name : 'インプラント治療',
      nameEng : 'IMPLANT',
      title : 'インプラント治療｜'+titlePart,
      description : '大阪・東大阪市近鉄布施駅前のおかだ歯科クリニックのインプラント治療のページです。インプラントとは、自分の歯を失ってしまった場所のあごの骨に人工歯根を埋め込み、その上に歯を装着する治療法です。歯を失ったときの治療法として、入れ歯やブリッジがありますが、しっかりと何でも食べられるようになりたいというご希望の場合はインプラント治療をお勧めしています。大阪・東大阪で歯を失ってから食事がしにくくなったとお悩みの方は、お気軽にご相談ください。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    denture : {
      url : 'denture.html',
      canonicalUrl : 'denture.html',
      name : '入れ歯の治療',
      nameEng : 'DENTURE',
      title : '入れ歯の治療｜'+titlePart,
      description : '大阪・東大阪市近鉄布施駅前のおかだ歯科クリニックの入れ歯の治療のページです。失った歯の代わりとなる入れ歯は健康維持のためにも大切な口腔内装置でありますが、痛みや違和感が強いなど不満の出やすい装置でもあります。おかだ歯科クリニックでは、保険の入れ歯はもとより様々な特殊な入れ歯の治療も行っております。入れ歯は高価な素材を使って作ったからといって良いものが出来上がるわけではありません。入れ歯でお困りのことがあれば、東大阪市布施駅前の歯科・歯医者、おかだ歯科クリニックにお気軽にご相談ください。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    price : {
      url : 'price.html',
      canonicalUrl : 'price.html',
      name : '料金',
      nameEng : 'PRICE',
      title : '料金｜'+titlePart,
      description : '大阪・東大阪市 近鉄布施駅前の歯科医院・歯医者 おかだ歯科クリニックです。虫歯や歯周病などの一般歯科、矯正歯科、ホワイトニング、インプラントなど。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website' 
    },
    access : {
      url : 'access.html',
      canonicalUrl : 'access.html',
      name : 'アクセス',
      nameEng : 'ACCESS',
      title : 'アクセス｜'+titlePart,
      description : '大阪・東大阪市長堂近鉄布施駅前のおかだ歯科クリニックのアクセスページです。近鉄布施駅の前、北側にある陣内ビルの2階にあります。平日は20時まで、土曜は17時まで診療しています。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website' 
    },
    call : {
      url : 'tel:0667839977',
      name : '電話',
      nameEng : 'CALL'
    },
    reservation : {
      url : 'reservation.html',
      canonicalUrl : 'reservation.html',
      name : '診療予約',
      nameEng : 'RESERVATION',
      title : '診療予約｜'+titlePart,
      description : '大阪・東大阪市長堂近鉄布施駅前のおかだ歯科クリニックの診療予約ページです。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website' 
    }
  }

-  
  var globalMenu = [
    {
      pageLink: pages.top.url,
      pageName: pages.top.name,
      pageNameEng: pages.top.nameEng
    },
    {
      pageLink: pages.doctor.url,
      pageName: pages.doctor.name,
      pageNameEng: pages.doctor.nameEng
    },
    {
      pageLink: pages.about.url,
      pageName: pages.about.name,
      pageNameEng: pages.about.nameEng,
      childMenu: [
        {
          pageLink: pages.concept.url,
          pageName: pages.concept.name,
          pageNameEng: pages.concept.nameEng
        },
        {
          pageLink: pages.facility.url,
          pageName: pages.facility.name,
          pageNameEng: pages.facility.nameEng
        }
      ]
    },
    {
      pageLink: pages.service.url,
      pageName: pages.service.name,
      pageNameEng: pages.service.nameEng,
      childMenu: [
        {
          pageLink: pages.general.url,
          pageName: pages.general.name,
          pageNameEng: pages.general.nameEng
        },
        {
          pageLink: pages.perio.url,
          pageName: pages.perio.name,
          pageNameEng: pages.perio.nameEng
        },
        {
          pageLink: pages.orthodontic.url,
          pageName: pages.orthodontic.name,
          pageNameEng: pages.orthodontic.nameEng
        },
        {
          pageLink: pages.ceramic.url,
          pageName: pages.ceramic.name,
          pageNameEng: pages.ceramic.nameEng
        },
        {
          pageLink: pages.whitening.url,
          pageName: pages.whitening.name,
          pageNameEng: pages.whitening.nameEng
        },
        {
          pageLink: pages.implant.url,
          pageName: pages.implant.name,
          pageNameEng: pages.implant.nameEng
        },
        {
          pageLink: pages.denture.url,
          pageName: pages.denture.name,
          pageNameEng: pages.denture.nameEng
        }
      ]
    },
    {
      pageLink: pages.price.url,
      pageName: pages.price.name,
      pageNameEng: pages.price.nameEng
    },
    {
      pageLink: pages.access.url,
      pageName: pages.access.name,
      pageNameEng: pages.access.nameEng
    },
    {
      pageLink: pages.reservation.url,
      pageName: pages.reservation.name,
      pageNameEng: pages.reservation.nameEng
    }
  ]
  
  var headerMenuSp = [
    {
      pageLink: pages.call.url,
      pageName: pages.call.name,
      pageNameEng: pages.call.nameEng
    },
    {
      pageLink: pages.access.url,
      pageName: pages.access.name,
      pageNameEng: pages.access.nameEng
    }
  ]
