extends _layout

block vars
  include _config
  - var key = "covid19"
  - var page = pages[key]

block contents
    p 当院では、厚生労働省より示された歯科医療機関における新型コロナウイルスの感染拡大防止のための院内感染対策、日本歯科医学会連合等が示した感染対策に従い、感染拡大防止に努めております。
    section
      h3.ttl--2 当院の感染防止対策
      ul.covid__ul
        li スタッフの検温、体調管理
        li 歯科医師および歯科衛生士のマスク、フェイスシールドの使用
        li エプロン、コップ、ヘッドカバーなどディスポーザブル（使い捨て）の使用
        li 使用器具の滅菌消毒
        li 治療ごとにチェアーのアルコール消毒
        li 患者用スリッパは使用ごとに消毒
        li 混雑を避けるため、余裕を持ったアポイント
    section
      h3.ttl--2 ご来院いただく患者さまへのお願い
      ul.covid__ul
        li 事前にお電話でご予約ください（予約なしの突然のご来院はご遠慮ください）
        li 待合室でのマスクの着用
        li ご来院の際の手指の消毒
        li 患者さまの検温、場合によっては問診のご記入
    section.covid__attn
      h3.ttl--2 次の症状がある方はご連絡の上、来院をお控えください
      ul.covid__ul
        li 咳やのどの痛みなどの風邪の症状や、37.5℃以上の発熱がある方（37.0℃以上の方はご相談ください）
        li 味覚や嗅覚に異常を感じる方
        li 強いだるさや息苦しさがある方
    p.covid__conc できる限り感染拡大防止に努めてまいります。<br>ご不便をお掛け致しますが、ご協力お願い申し上げます。
