extends _layout

block vars
  include _config
  - var key = "reservation"
  - var page = pages[key]

block contents
  p ＊診療状況によりお待ちいただくことがございます。また、治療内容によっては終了時間が遅くなることもありますので、ご予約はお時間に余裕のある方に限らせていただきます。
  p ＊初診の方は問診票のご記入やカルテ作成のため予約時間の10分前にはご来院ください。健康保険証を忘れずにお持ちください。
  p ＊お口のメンテナンスでの検診・歯のクリーニング、歯石取り、ホワイトニング等の歯科衛生士が担当するメニューにつきましてはインターネット予約は行っておりません。医院へ直接お電話でご予約ください。
