@charset "UTF-8"

@import "setting/_path"
@import "setting/_color"

@import "mixin/_mq"
@import "mixin/_align"
@import "mixin/_color"
@import "mixin/_border"
@import "mixin/_font"
@import "mixin/_btn"
@import "mixin/_clinicInfo"
@import "mixin/_officeHours"

@import "component/_heading"

@import "project/_imgs"

@import "foundation/_sanitize"
@import "foundation/_base"

@import "common/_header"
@import "common/_gnav"
@import "common/_footer"

@import "page/*"
