.access
  &__img
    display grid
    &__item
      margin-top 2rem
  &__info
    clinicInfo()
    officeHours()
    margin-top 8rem

+ls()
  .access
    &__img
      display grid
      grid-gap 5vw
      grid-template-columns 1fr 1fr
    &__info
      display grid
      grid-gap 5vw
      grid-template-columns 1fr 1fr
      officeHoursLs()
