.denture
  &__ul
    & li
      list-style disc
  &__dd
    margin-bottom 1rem
    &__ul
      padding-left 0
      & li
        list-style disc
  &__explain
    &__img1
      display block
      margin 0 auto
      width 50%

+ls()
  .denture
    &__explain
      &__img1
        margin 0
