.general
  &__caries
    &__explain
      display grid
      grid-template-columns 11fr 5fr
      & img
        margin auto 0
        padding-left 2rem
  &__wisdomTooth
    &__img
      width calc((90vw-2rem)/2)

+ls()
  .general
    &__caries
      &__explain
        grid-template-columns 5fr 1fr
    &__wisdomTooth
      &__img
        width 35%
