.implant
  &__dl
    margin-left 2rem
  &__dd
    margin auto auto 1rem 0
    &__list
      padding-left 2rem
      & li
        list-style disc
  &__img
    display grid
    margin 0 auto
    width 40%

+ls()
  .implant
    &__img
      margin 0
