.orth
  &__note
    font-size 90%
  &__adult
    &__merit li
      list-style-type square
  &__process
    &__twoweeks
      text-align center
      padding-top .8rem
    &__arrow
      font-size 6vw
      text-align center
    &__item
      background-color c-txt-1
      color c-bg-1
      padding 1rem
      & .ttl--3
        margin .5rem
        text-align center

+ls()
  .orth
    &__process
      width 40vw
      &__arrow
        font-size 2vw
        margin .5rem
      &__item
        padding 1.5rem
