.whitening
  &__explain
    &__img1
      display block
      margin 1rem auto
      width 50vw
    &__attent
      padding-left 1.5rem
      & li
        list-style disc

+ls()
  .whitening
    &__explain
      &__img1
        margin 1rem auto 1rem 0
        width 20vw
