.footer
  csReverse()
  padding 5vw
  &__name
    font-size 120%
  &__copyright
    font-size 2vw

+ls()
  .footer
    padding 3vw 5vw 1vw
    &__address
      margin-bottom 2vw
    &__copyright
      font-size 80%
